
{% extends 'base.html' %}
{% block title %}Jury Profile{% endblock %}
{% block content %}
<h1>{{ jury.name }} {{ jury.surname }}</h1>
<p><strong>Age:</strong> {{ jury.age }}</p>
<p><strong>City:</strong> {{ jury.city }}</p>
<p><strong>Phone Number:</strong> {{ jury.phone_number }}</p>
<p><strong>Position:</strong> {{ jury.position }}</p>
<a href="{{ url_for('edit_jury', jury_id=jury._id) }}" class="btn btn-warning">Edit</a>
<a href="{{ url_for('delete_jury', jury_id=jury._id) }}" class="btn btn-danger">Delete</a>
<a href="{{ url_for('jury') }}" class="btn btn-secondary">Back to Jury Members</a>
{% endblock %}