{% extends "base.html" %}

{% block title %}Jury{% endblock %}

{% block content %}
    <div class="cards">
        {% for jury in jury %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ jury.name }} {{ jury.surname }}</h5>
                        <p class="card-text"><strong>Age:</strong> {{ jury.age }}</p>
                        <p class="card-text"><strong>City:</strong> {{ jury.city }}</p>
                        <p class="card-text"><strong>Birth Date:</strong> {{ jury.birth }}</p>
                        <p class="card-text"><strong>Phone Number:</strong> {{ jury.phone_number }}</p>
                        <p class="card-text"><strong>Position:</strong> {{ jury.position }}</p>
                        <button><a href="{{ url_for('view_jury', jury_id=jury._id) }}">View Profile</a></button>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
