<div class="list-group">
    <a href="{{ url_for('dashboard') }}" class="list-group-item list-group-item-action">Dashboard</a>
    <a href="{{ url_for('jury') }}" class="list-group-item list-group-item-action">Jury Members</a>
    <a href="{{ url_for('contestants') }}" class="list-group-item list-group-item-action">Contestants</a>
    <a href="{{ url_for('songs') }}" class="list-group-item list-group-item-action">Songs</a>
    <a href="{{ url_for('performances') }}" class="list-group-item list-group-item-action">Performances</a>
    <a href="{{ url_for('broadcasts') }}" class="list-group-item list-group-item-action">Broadcasts</a>
    <a href="{{ url_for('voting') }}" class="list-group-item list-group-item-action">Voting</a>
    <a href="{{ url_for('results') }}" class="list-group-item list-group-item-action">Results</a>
</div>