{% extends 'base.html' %}
{% block title %}SMS Messages per Broadcast{% endblock %}
{% block content %}
<h1>SMS Messages per Broadcast</h1>
<form method="POST">
    <button type="submit">Search</button>
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ефір</th>
            <th>СМС-голоси</th>
        </tr>
    </thead>
    <tbody>
        {% for sms_count in sms_counts %}
        <tr>
            <td>{{ sms_count.broadcast }}</td>
            <td>{{ sms_count.count }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}