{% extends 'base.html' %}
{% block title %}Winner of Contest{% endblock %}
{% block content %}
<h1>Winner of Contest</h1>
<form method="POST">
    <button type="submit">Search</button>
</form>
{% if winner %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Total Votes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ winner.name }}</td>
            <td>{{ winner.surname }}</td>
            <td>{{ total_votes }}</td>
        </tr>
    </tbody>
</table>
{% endif %}
{% endblock %}