{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="cards">
            {% for contestant in contestants %}
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ contestant.name }} {{ contestant.surname }}</h5>
                                <p class="card-text"><strong>Age:</strong> {{ contestant.age }}</p>
                                <p class="card-text"><strong>City:</strong> {{ contestant.city }}</p>
                                <p class="card-text"><strong>Birth Date:</strong> {{ contestant.birth }}</p>
                                <p class="card-text"><strong>Phone Number:</strong> {{ contestant.phone_number }}</p>
                                <button><a href="{{ url_for('view_contestant', contestant_id=contestant._id) }}">View Profile</a></button>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
