{% extends 'base.html' %}
{% block title %}Головна сторінка{% endblock %}
{% block content %}
    <h1 class="center"> TheVoice 🎤</h1>

        <div class="section">
            <h2>📅 Майбутні прямі ефіри</h2>
            <p>Залишайтесь в курсі розкладу прямих трансляцій. Не пропустіть жодного виступу, коли конкурсанти демонструють свої найкращі здібності, щоб завоювати симпатії аудиторії та журі.</p>
        </div>

        <div class="section">
            <h2>👤 Огляд конкурсантів</h2>
            <p>Отримайте інформацію про талановитих учасників, що змагаються за перемогу. Слідкуйте за їх прогресом та переглядайте детальні профілі з історією виступів та статистикою голосувань.</p>
        </div>

        <div class="section">
            <h2>🎶 Вибір пісень</h2>
            <p>Перегляньте вибір пісень, які готують конкурсанти для виступів. Відкрийте для себе різноманітність жанрів та варіантів, що демонструють вокальні здібності та артистизм конкурсантів.</p>
       </div>

        <div class="section">
            <h2>🌟 Журі</h2>
            <p>Познайомтесь з експертами, що ведуть конкурс! Дізнайтесь більше про членів журі, їхні відгуки та вплив на прогрес конкурсантів.</p>
        </div>

        <div class="section">
            <h2>📈 Статистика голосувань</h2>
            <p>Аналізуйте дані голосувань у реальному часі на кожному ефірі. Слідкуйте за популярністю конкурсантів та динамікою їх виступів.</p>
         </div>

        <div class="section">
            <h2>🏆 Фінальний ефір та переможці</h2>
            <p>Приєднуйтесь до великого фіналу, де будуть визначені переможці! Слідкуйте за результатами голосування в режимі реального часу та святкуйте разом з переможцями.</p>
         </div>

{% endblock %}
