{% extends 'base.html' %}
{% block title %}Voting{% endblock %}
{% block content %}
<h1>Voting</h1>
<form method="POST" action="{{ url_for('select_broadcast_for_voting') }}">
    <div class="form-group">
        <label for="broadcast_id">Select Broadcast:</label>
        <select id="broadcast_id" name="broadcast_id" class="form-control" required>
            {% for broadcast in broadcasts %}
                <option value="{{ broadcast._id }}">{{ broadcast.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Select Broadcast</button>
</form>

{% if performances %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Учасник</th>
            <th>Пісня</th>
            <th>Виступ</th>
            <th>Послідовність</th>
            <th>Дії</th>
        </tr>
        </thead>
        <tbody>
             {% for performance in performances %}
                <tr>
                    <td>
                        {% set contestant = contestants | selectattr('_id', 'equalto', performance.contestant_id) | first %}{{ contestant.name if contestant else 'Unknown Contestant' }} {{ contestant.surname if contestant else 'Unknown Contestant' }}</td>
                    <td>
                        {% set song = songs | selectattr('_id', 'equalto', performance.song_id) | first %}{{ song.name if song else 'Unknown Song' }}</td>
                    <td>
                        {% set broadcast = broadcasts | selectattr('_id', 'equalto', performance.broadcast_id) | first %}{{ broadcast.name if broadcast else 'Unknown Broadcast' }}</td>
                    <td>{{ performance.order }}</td>
                    <td>
                        <a href="{{ url_for('vote_performance', performance_id=performance._id) }}" class="btn btn-primary btn-sm">Vote</a>
                    </td>
            {% endfor %}
      </tbody>
    </table>
{% endif %}
<a href="{{ url_for('dashboard') }}" class="btn btn-secondary mt-4">Back to Dashboard</a>
{% endblock %}
