{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <h1>Редагування Ролі для {{ user.username }}</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST">
        <label for="role">Роль:</label>
        <select name="role" id="role" required>
            {% if session['role'] in ['owner'] %}
                <option value="administrator">administrator</option>
            {% endif %}
                <option value="operator">operator</option>
                <option value="user">user</option>
        </select>
        <button type="submit">Оновити Роль</button>
    </form>
    <a href="{{ url_for('manage_users') }}">Повернутися до Списку Користувачів</a>
{% endblock %}
